Package: com.github.devnoname120.flexing
Name: FLEXing
Pre-Depends: firmware (>= 15.0)
Version: 1.6.0
Architecture: iphoneos-arm64
Description: Open FLEX anywhere with a per-app manager GUI.
Maintainer: Tanner Bennett <thepantsthief@me.com>
Author: Tanner Bennett <thepantsthief@me.com>
Section: Tweaks
Depiction: https://nscake.github.io/package.html?package=com.pantsthief.flexing
SileoDepiction: https://nscake.github.io/depictions/com.pantsthief.flexing.sileo.json
