Package: com.github.devnoname120.flexing
Name: FLEX 4 Beta
Pre-Depends: firmware (>= 15.0)
Version: 1.0.0
Architecture: iphoneos-arm64
Description: FLEX 4 Beta runtime explorer and patch helper.
Maintainer: DeerSpotter
Author: DeerSpotter
Section: Tweaks
Depiction: https://nscake.github.io/package.html?package=com.pantsthief.flexing
SileoDepiction: https://nscake.github.io/depictions/com.pantsthief.flexing.sileo.json
